body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f1e4e4;
}

.container {
    width: 350px;
    background: white;
    padding: 40px;
    margin: 5px auto;
    border-radius: 8px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #a1b4ca;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #05213f;
}

.error {
    color: red;
    font-size: 17px;
}
