body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
}

/* Section common style */
section {
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
}

/* Skills list */
.skills ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Projects */
.project-box {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #333;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
